[Unit]
Description=orcl-data-fetcher-api
After=network.target

[Service]
User=oracle
Group=oinstall
WorkingDirectory=/path/to/dir
ExecStart=/path/to/dir/binary
Restart=on-failure

[Install]
WantedBy=multi-user.target
